<p>Our annotated bibliography has the purpose of providing additional information that makes articles written in languages other than English accessible to colleagues.
</p>
<p>
Annotations should be brief comments in English (max 150 words) and include:
</p>
<ul>
  <li>Why do you recommend this article? (e.g. why should we know about this?)</li>

  <li>Qualification/status of author (e.g. position, early/established researcher)</li>

  <li>Information about publication (e.g. peer-reviewed journal, book)</li>

  <li>Limitations of article (if applicable, please be constructive and polite)</li>
</ul>
